/* Basic setup */
/* Some code modified from bootstrap official guide */
/* ref: https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}



hr {
    width: 50%;
    margin: auto;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}

/* bootstrap modifications        max-width: 680px; */
.container {
    width: auto;
    max-width: 1000px;
    padding: 0 15px;
}

/*
.table-responsive{
    width: auto;
    max-width: 950px;
    padding: 0 15px;
}
*/

.extra-bottom {
    padding-bottom: 2em;
}

.task {
    width: 40%;
}

.task-id {
    width: 5%;
}

.status {
    width: 15%;
}

.due{
    width: 20%
}

.detail{
    width: 10%
}

.update{
    width: 10%:
}


.navbar-static-top{
    background: #404040;
    width: 100%;
    height: 3em;
    /* Set the fixed height of the footer here */

}

.navbar-brand{
  color: #e6e6e6;
  margin: 0px 0px 0px 10px;
}

.second{
    float: right;
}

.table-responsive{

}

#detail-detail{
    background-color:#FFF;
}

/* .navtop div a:hover {
  	color: #eaebed;
} */

.top:hover


